<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.victorbello.twittercliente">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:name=".TwitterClientApp">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b5de0b56125c1e59da866d8bbde17d1221d0ec85" />

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

    </application>

</manifest>